.login-container{
    height:88vh;
    background-image: url('../assets/images/sharing_food.jpg');
    background-size: 100% 100%;
}

.heading_style{
    color:#3E0703;
    text-decoration: underline;
}

.login-box{
    background-color:white;
    opacity:0.8;
    height:55vh;
    width:30vw;
    border-radius:15px;
    border: 3px solid #3E0703;
}

.input-styling{
    width:25vw;
    border:1px solid gray;
}

.button-styling{
    background-color: #3E0703;
    width:25vw;
    color:white;
    border-radius:8px;
    height:5vh;
}

.button-styling:hover{
    background-color: #3E0703;
    color:white;
    text-decoration: underline;
    transform: scale(1.02,1.02);
}