.donation-container{
    height:88vh;
    background-color:#660B05;
}

.donation-box{
    background-color:#FFF0C4;
    height:40vh;
    width:30vw;
    border-radius:15px;
    border: 2px solid white;
}

.donation-message-display{
    padding: 10px;
  background-color: #d4edda; 
  color: #155724; 
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}